<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Ejs template</title>
</head>
<body>
    <!-- ejs template (views) directory ke under hi honi chaiye compalsory -->
    <div>
        <h1>Hello EJS this is a home page</h1>
        <!-- interpolation syntac  -->
        <!-- html page ko dynamic bnane ke liye ham (EJS tags) ko used karte he -->
        <h3><%= ["namaste" , "banjour" , "hello"][0]%></h3>
        <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, ut quidem! Soluta doloremque sit aperiam, illo saepe odit eaque cupiditate ipsam provident! Veritatis quam repudiandae cupiditate, impedit vitae quia iusto magni illum laborum id, debitis distinctio, quis a! Voluptas ad ipsam ex quasi ratione cupiditate sapiente, modi quas ipsa animi.</P>
        <button>click me</button>
    </div>
</body>
</html>